<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Start/comlib.css">
    <link rel="stylesheet" href="/Start/index.css">
    <link rel="stylesheet" href="/components/Images/images.css">
    <title>Images || Beautify UI</title>
</head>
<body>

    <nav class="navigation container">
        <div class="nav-brands">Beautify UI</div>
        <ul class="list-non-bullet nav-pills ">
            <li class="list-item-inline">
                <a class="link" href="/index.html">Home</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="/components/Alerts/alerts.html">Documentation</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="/Start/getstarted.html">Get Started</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="#">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="container-box">
        <nav class="side-navigation sidebar">
            <div class="nav_components">
                <ul id="ul-style">
                    <li>
                        <a id="nav_components" class="nav_avatar" href="/components/Alerts/alerts.html">Alerts</a>
                    </li>
                    <li>
                        <a  id="nav_components" class="nav_avatar" href="/components/Avatar/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_badges" href="/components/Badges/badges.html">Badges</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_buttons" href="/components/Buttons/buttons.html">Buttons</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_cards" href="/components/Card/cards.html">Cards</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_grids" href="/components/Grids/grid.html">Grids</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_images" href="/components/Images/images.html">Images</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_input" href="/components/Input/input.html">Input</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_lists" href="/components/Lists/lists.html">Lists</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_modal" href="/components/Modal/modal.html">Modal</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_navigation" href="/components/Navigation/navigation.html">Navigation</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_ratings" href="/components/Ratings/ratings.html">Ratings</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_toast" href="/components/Toast/toast.html">Toast</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_typography" href="/components/Typography/typography.html">Typography</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="images-main">
            <div class="images-def">
                <h1 class="images-header">Images</h1>
                <p class="images-para"> Images given below are responsive so that they can be accomodated properly in screens of different sizes. </p>
            </div>

            <div class="images-responsive">
                <h3 class="images-header">Responsive Images</h3>
                <img class="image-card" src="https://source.unsplash.com/300x250/?nature,water" alt="image">
            </div>

            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28249%2C237%2C212%2C1%29&t=twilight&wt=none&l=htmlmixed&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522images-responsive%2522%253E%250A%2520%2520%253Ch3%2520class%253D%2522images-header%2522%253EResponsive%2520Images%253C%252Fh3%253E%250A%2520%2520%253Cimg%2520class%253D%2522image-card%2522%2520src%253D%2522https%253A%252F%252Fsource.unsplash.com%252F300x250%252F%253Fnature%252Cwater%2522%2520alt%253D%2522image%2522%253E%250A%253C%252Fdiv%253E"
                style="width: 939px; height: 266px; border:0; transform: scale(1); overflow:hidden; padding-bottom: 4rem;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>


            <div class="images-rounded">
                <h3 class="images-header head">Responsive Images</h3>
                <img class="image-round" src="https://source.unsplash.com/250x250/?forest" alt="image">
            </div>

            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28249%2C237%2C212%2C1%29&t=twilight&wt=none&l=htmlmixed&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522images-rounded%2522%253E%250A%2520%2520%253Ch3%2520class%253D%2522images-header%2520head%2522%253EResponsive%2520Images%253C%252Fh3%253E%250A%2520%2520%253Cimg%2520class%253D%2522image-round%2522%2520src%253D%2522https%253A%252F%252Fsource.unsplash.com%252F250x250%252F%253Fforest%2522%2520alt%253D%2522image%2522%253E%250A%253C%252Fdiv%253E"
                style="width: 897px; height: 266px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>



        </main>
    </div>


</body>
</html>