<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/comlib.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/components/Badges/badges.css">
    <title>Badges || Beautify UI</title>
</head>
<body>

    <nav class="navigation container">
        <div class="nav-brands">Beautify UI</div>
        <ul class="list-non-bullet nav-pills ">
            <li class="list-item-inline">
                <a class="link" href="/">Home</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="/">Documentation</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="/">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="container-box">
        <nav class="side-navigation sidebar">
            <div class="nav_components">
                <ul id="ul-style" >
                    <li>
                        <a  id="nav_components" class="nav_avatar" href="/components/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_badges" href="/components/Badges/badges.html">Badges</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_buttons" href="/components/Buttons/buttons.html">Buttons</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_cards" href="/components/Card/cards.html">Cards</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_images" href="/components/Images/images.html">Images</a>
                    </li>
                    <li>
                        <a id="nav_components" class="" href="/components/Typography/typography.html">Typography</a>
                    </li>
                    <li>
                        <a id="nav_components" class="" href=""></a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="new-main">

        </main>

    </div>




</body>
</html>