<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Start/comlib.css">
    <link rel="stylesheet" href="/Start/index.css">
    <link rel="stylesheet" href="/components/Grids/grid.css">
    <title>Grids || Beautify UI</title>
</head>
<body>

    <nav class="navigation container">
        <div class="nav-brands">Beautify UI</div>
        <ul class="list-non-bullet nav-pills ">
            <li class="list-item-inline">
                <a class="link" href="/Start/homepage.html">Home</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="/components/Alerts/alerts.html">Documentation</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="/Start/getstarted.html">Get Started</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="#">Contact</a>
            </li>
        </ul>
    </nav>


    <div class="container-box">
        <nav class="side-navigation sidebar">
            <div class="nav_components">
                <ul id="ul-style">
                    <li>
                        <a id="nav_components" class="nav_avatar" href="/components/Alerts/alerts.html">Alerts</a>
                    </li>
                    <li>
                        <a  id="nav_components" class="nav_avatar" href="/components/Avatar/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_badges" href="/components/Badges/badges.html">Badges</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_buttons" href="/components/Buttons/buttons.html">Buttons</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_cards" href="/components/Card/cards.html">Cards</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_grids" href="/components/Grids/grid.html">Grids</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_images" href="/components/Images/images.html">Images</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_input" href="/components/Input/input.html">Input</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_lists" href="/components/Lists/lists.html">Lists</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_modal" href="/components/Modal/modal.html">Modal</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_navigation" href="/components/Navigation/navigation.html">Navigation</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_ratings" href="/components/Ratings/ratings.html">Ratings</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_toast" href="/components/Toast/toast.html">Toast</a>
                    </li>
                    <li>
                        <a id="nav_components" class="nav_typography" href="/components/Typography/typography.html">Typography</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="grid-main">
            <div class="grid-def">
                <h1 class="grid-head">Grids</h1>
                <p class="grid-para">The CSS Grid Layout Module offers a grid-based layout system, with rows and columns, making it easier to design web pages. </p>
            </div>
            <br>


            <h2 class="grid-head">Grids with two Columns</h2>
            <div class="grid-two-col">
                <div class="grid-items">One</div>
                <div class="grid-items">Two</div>
            </div>

            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28249%2C237%2C212%2C1%29&t=twilight&wt=none&l=htmlmixed&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid-two-col%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-items%2522%253EOne%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-items%2522%253ETwo%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                style="width: 444px; height: 266px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>


            <h2 class="grid-head">Grids with 3 columns</h2>
            <div class="grid-three-col">
                <div class="grid-items-1">One</div>
                <div class="grid-items-1">Two</div>
                <div class="grid-items-1">Three</div>
            </div>

            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28249%2C237%2C212%2C1%29&t=twilight&wt=none&l=htmlmixed&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%250A%253Cdiv%2520class%253D%2522grid-three-col%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-items-1%2522%253EOne%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-items-1%2522%253ETwo%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-items-1%2522%253EThree%253C%252Fdiv%253E%250A%253C%252Fdiv%253E%250A"
                style="width: 508px; height: 326px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>



        
        
        
        </main> 
    </div>

</body>
</html>