@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');


.container-box{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5.5fr ;
    grid-template-areas: 
    "sidebar avatar-main "
    "sidebar avatar-main ";
    padding-top: 0.4em;
    grid-gap: 0.4em;
}


.avatar-main{
    grid-area: avatar-main;
    text-align: justify;
    word-wrap: normal;
    top: auto;
    padding: 22px;
    width: 100%;
    max-width: 65%;
    position: sticky;
    margin-left: 2rem
}

.sidebar{
    grid-area: sidebar;
    background: cyan;
    height: auto;
}

.avatar-components, 
.avatar-new{
    margin-top: 1.5rem;
}

.para-lead{
    margin-top: 1rem;
}













