<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/comlib.css">
    <link rel="stylesheet" href="/components/avatar.css">
    <title>Avatar|| Beautify UI</title>
</head>
<body>

    <section id="avatar">
        <header class="header">
            <nav class="navbar">
                <a href="/comlib.html">Beautify UI</a>
                <ul class="nav_menu">
                    <li class="nav_items">
                        <a href="/comlib.html">Home</a>
                    </li>

                    <li class="nav_items">
                        <a href="/components/avatar.html">Documentation</a>
                    </li>
                    
                    <li class="nav_items">
                        <a href="">Contact</a>
                    </li>

                </ul>
            </nav>
        </header>

        <nav class="navigation">
            <div class="nav_components">
                <a id="nav_components" class="nav_avatar" href="../components/avatar.html">Avatar</a>
                <a id="nav_components" class="nav_badges" href="">Badges</a>
                <a id="nav_components" class="nav_buttons" href="">Buttons</a>
                <a id="nav_components" class="nav_cards" href="">Cards</a>
                <a id="nav_components" class="nav_images" href="">Images</a>
                <a id="nav_components" class="" href=""></a>
                <a id="nav_components" class="" href=""></a>
            </div>
        </nav>

        <main class="main">
            <div class="main_components">
                <div class="components">
                    <h1 class="heading" id="comp_avatar">Avatar</h1>
                    <p class="para-lead">Avatar is an icon or figure representing a particular user in internet forum.</p>
                    <h2 class="heading-sub">Image Avatars</h2>
                    <p class="para">Copy-paste different styles of avatar to use them.</p>
                    <div class="avatar">
                        <img class="avatar_img avatar-small" src="../images/download.png" alt="avatar">
                        <img class="avatar_img avatar-medium" src="../images/download.png" alt="avatar">
                        <img class="avatar_img avatar-large" src="../images/download.png" alt="avatar">
                    </div>
                </div>
                
            </div>
        </main>


    </section>
    
</body>
</html>