@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');


#avatar{
    display: grid;
    max-height: 1000vh;
    max-width: 350vh;
    grid-template-areas: 
    "header header header"
    "navigation main main"
    "navigation main main";
    grid-template-rows: 100px 3fr 2.6fr;
    grid-template-columns: auto auto;
}

.header{
    grid-area: header;
    width: 100%;
}

.main{
    width: 868.117px;
    height: 500.8px;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

#ul-style{
    line-height: 2rem;
    border-color: black;
    padding: 5px 25px;
    margin: 5px 15px;
}

.main_components{
    line-height: 3rem;
}

.components{
  jhghj  
}









